In [1]:
%matplotlib inline
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv("../data/kaggle_house_price/kaggle_house_pred_train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [41]:
df['UnitPrice'] = df['SalePrice']/df['LotArea']

In [42]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice', 'UnitPrice'],
      dtype='object')

In [60]:

def summary(x):
    gb = df.groupby(x).agg({'SalePrice':["count","sum","mean"], 'UnitPrice':["mean"]})
    gb.columns = ["_".join(item) for item in gb.columns]
    gb['SalePrice_mean'] = gb.apply(lambda x: round(x.SalePrice_mean), axis=1)
    gb['UnitPrice_mean'] = gb.apply(lambda x: round(x.UnitPrice_mean,1), axis=1)
    gb.sort_values(by=["UnitPrice_mean"], inplace=True)
    return gb

In [61]:
x = 'MSSubClass'
gb = summary(x)
gb

            SalePrice_count  SalePrice_sum  SalePrice_mean  UnitPrice_mean
MSSubClass
190                      30        3888400          129613            13.1
30                       69        6612251           95830            13.5
90                       52        6944136          133541            14.6
40                        4         624500          156125            14.7
80                       58        9844720          169737            16.2
50                      144       20635628          143303            16.4
85                       20        2956200          147810            16.4
45                       12        1303100          108592            16.5
75                       16        3079000          192438            17.2
20                      536       99280499          185225            17.6
70                       60       10006345          166772            18.2
60                      299       71744602          239949            21.6
120                      87       17467780          200779            40.8
180                      10        1023000          102300            48.3
160                      63        8734785          138647            56.1

In [52]:
df_MSSubClass = pd.get_dummies(df['MSSubClass'], prefix = "MSSubClass", dummy_na=False)
df_MSSubClass.head()

,MSSubClass_20,MSSubClass_30,MSSubClass_40,MSSubClass_45,MSSubClass_50,MSSubClass_60,MSSubClass_70,MSSubClass_75,MSSubClass_80,MSSubClass_85,MSSubClass_90,MSSubClass_120,MSSubClass_160,MSSubClass_180,MSSubClass_190
0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [65]:
x = 'LotConfig'
gb = summary(x)
gb

           SalePrice_count  SalePrice_sum  SalePrice_mean  UnitPrice_mean
LotConfig
CulDSac                 94       21042334          223855            17.4
Corner                 263       47766961          181623            18.1
FR2                     47        8362925          177935            21.1
Inside                1052      186138826          176938            22.1
FR3                      4         833900          208475            28.5